<div class="col-md-12">
  <a href="#!/create">Create a new poll</a> | <button ng-click="logout()">Logout</button>
  <hr>
  <h4>Current polls</h4>
  <input type="text" ng-model="search.$" placeholder="Search">
  </br></br>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Name</td>
        <td>Survey Question</td>
        <td>Date Posted</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat='poll in polls | filter:search'>
        <td>{{poll._user.name}}</td>
        <td><a href="#!/polls/{{poll._id}}">{{poll.question}}</a></td>
        <td>{{poll.created_at | date}}</td>

        <td><button class="btn btn-danger" ng-show="poll._user._id == user_id" ng-click="delete(poll._id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
